<div class="contacto">

    <div class="descargar-cv">
        <h2>Descarga mi CV</h2>
        <a href="assets/cv/CVDayronRestrepoPerez.pdf" download class="cta-button">Descargar CV</a>
    </div>



    <div class="certificados">
        <h2>Mis certificados</h2>
        <div class="certificados-lista">
            <div class="certificado">
                <img src="assets/images/authenticity_17485540.png" alt="Certificado">
                <div>
                    <p>Certificado de semillero enfocado en desarrollo web (Fullstack)</p>
                    <a href="assets/certificados/ConstanciadesemilleroDayron.pdf" target="_blank">Ver Certificado</a>
                </div>
            </div>

            <div class="certificado">
                <img src="assets/images/authenticity_17485540.png" alt="Certificado">
                <div>
                    <p>Certificado de Mongo DB</p>
                    <a href="assets/certificados/dayron-restrepo-perez-3806b38f-8533-4a90-819d-bf0abeb38b93-certificate.pdf" target="_blank">Ver Certificado</a>
                </div>
            </div>
            <!--certificados aquí -->

        </div>
    </div>

        <!-- Sección Redes Sociales -->
        <div class="redes-sociales">
            <h2>Redes sociales</h2>
            <div class="icons">
                <a href="https://www.linkedin.com/in/dayronrestrepo" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/DayronR12" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <!-- <a href="https://instagram.com/tu-perfil" target="_blank">
              <i class="fab fa-twitter"></i>
            </a> -->
                <!-- Puedes agregar más redes aquí -->
            </div>
        </div>
    
