<div class="card-container">
    <!-- Primer p-card -->
    <p-card header="Funflex" [style]="{ width: '360px' }" styleClass="transparent-card">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/login.png"  styleClass="imggss" />
        </ng-template>
        <p class="pstyle">
            FunFlex Entertainment es una plataforma de eCommerce que ofrece entretenimiento digital.
        </p>
        <div fxLayout="row" fxLayoutGap="20px" class="flex-container">
            <div class="framework-item">
              <img src="assets/images/icons8-react-16.png" alt="React.js" class="framework-logo" />
              <div class="framework-text">React.js</div>
            </div>
            <div class="framework-item">
              <img src="assets/images/icons8-logotipo-de-primavera-48.png" alt="Spring Boot" class="framework-logo" />
              <div class="framework-text">Spring Boot</div>
            </div>
            <div class="framework-item">
              <img src="assets/images/icons8-mysql-48.png" alt="MySQL" class="framework-logo" />
              <div class="framework-text">MySQL</div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <button label="Ir a GitHub" class="cta-button" (click)="goToGitHub()">Ir a GitHub</button>
            </div>
        </ng-template>
    </p-card>

    <!-- Segundo p-card -->
    <p-card header="Spectra Sphere" [style]="{ width: '360px' }" styleClass="transparent-card">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/homecrm.png"  styleClass="img"  />
        </ng-template>
        <p class="pstyle">
            SpectraSphere es un proyecto de CRM para la industria del entretenimiento digital.
        </p>


        <div fxLayout="row" fxLayoutGap="20px" class="flex-container">
            <div class="framework-item">
              <img src="assets/images/icons8-react-16.png" alt="React.js" class="framework-logo" />
              <div class="framework-text">React.js</div>
            </div>
            <div class="framework-item">
              <img src="assets/images/icons8-logotipo-de-primavera-48.png" alt="Spring Boot" class="framework-logo" />
              <div class="framework-text">Spring Boot</div>
            </div>
            <div class="framework-item">
              <img src="assets/images/icons8-mysql-48.png" alt="MySQL" class="framework-logo" />
              <div class="framework-text">MySQL</div>
            </div>
        </div>


        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <button label="Ir a GitHub" class="cta-button" (click)="goToGitHubb()">Ir a GitHub</button>
            </div>
        </ng-template>
    </p-card>

    <p-card header="CRUD Básico" [style]="{ width: '360px' }" styleClass="transparent-card">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/as.png" styleClass="img" />
        </ng-template>
        <p class="pstyle">
            Este proyecto es una aplicación básica de CRUD (Create, Read, Update, Delete)
        </p>
        <div fxLayout="row" fxLayoutGap="20px" class="flex-container">
            <div class="framework-item">
              <img src="assets/images/icons8-angular-48.png" alt="React.js" class="framework-logo" />
              <div class="framework-text">Angular</div>
            </div>
            <div class="framework-item">
              <img src="assets/images/icons8-logotipo-de-primavera-48.png" alt="Spring Boot" class="framework-logo" />
              <div class="framework-text">Spring Boot</div>
            </div>
            <div class="framework-item">
              <img src="assets/images/icons8-mysql-48.png" alt="MySQL" class="framework-logo" />
              <div class="framework-text">MySQL</div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <button label="Ir a GitHub" class="cta-button" (click)="goToGitHubCRUD()">Ir a GitHub</button>
            </div>
        </ng-template>
    </p-card>
    
    <p-card header="Reto Softcaribbean (VeterinariaXYZ)" [style]="{ width: '360px' }" styleClass="transparent-card">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/VeterinariaXYZ.png" styleClass="img" />
        </ng-template>
        <p class="pstyle">
            Este es un reto propuesto por Softcaribbean, consta de una pagina login y un CRUD.
        </p>
        <div fxLayout="row" fxLayoutGap="20px" class="flex-container">
            <div class="framework-item">
              <img src="assets/images/icons8-angular-48.png" alt="React.js" class="framework-logo" />
              <div class="framework-text">Angular</div>
            </div>
            <div class="framework-item">
              <img src="assets/images/icons8-logotipo-de-primavera-48.png" alt="Spring Boot" class="framework-logo" />
              <div class="framework-text">Spring Boot</div>
            </div>
            <div class="framework-item">
              <img src="assets/images/icons8-mysql-48.png" alt="MySQL" class="framework-logo" />
              <div class="framework-text">MySQL</div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <button label="Ir a GitHub" class="cta-button" (click)="goToGitHubCRUDVET()">Ir a GitHub</button>
            </div>
        </ng-template>
    </p-card>
    
    
    
</div>
