<!-- HTML -->
<section class="sobre-mi">
  <div class="bloque" data-aos="fade-up">
    <div class="imagen-container">
      <img src="assets/images/foto.png" alt="Dayron Restrepo Pérez" class="imagen">
    </div>
    <p>Soy <strong>Dayron Restrepo Pérez</strong>, desarrollador Fullstack y estudiante de Ingeniería Informática.
      Desde el inicio de mi carrera, he explorado distintas áreas de la tecnología, desde el desarrollo frontend y backend hasta la inteligencia artificial. Mi gran pasión por la tecnología y la innovación me impulsa a crear soluciones digitales que resuelvan problemas reales y mejoren la vida de las personas.<br><br>
      
      Me gusta mantenerme actualizado en las últimas tendencias del desarrollo de software y siempre busco aprender algo nuevo. A lo largo de mi carrera, he trabajado con diversas tecnologías y mi objetivo es siempre aportar valor a los proyectos en los que participo, aprendiendo y compartiendo conocimientos con otros profesionales del sector.</p>
  </div>

  <div class="bloque" data-aos="fade-up">
    <h2>📚 Mi Camino en el Mundo de la Tecnología</h2>
    <p>Mi viaje comenzó con el entusiasmo de entender cómo funcionan las cosas detrás de la pantalla. Aprender lenguajes como <strong>Java</strong>, <strong>JavaScript</strong>, y <strong>Python</strong> abrió un nuevo mundo de posibilidades, y no tardé en sumergirme en frameworks como <strong>Angular</strong>, <strong>React</strong> y <strong>Spring Boot</strong>. Hoy, tengo la suerte de haber trabajado en varios proyectos, desde aplicaciones E-commerce hasta páginas CRM, etc.</p>
  </div>

  <div class="bloque" data-aos="fade-up">
    <h2>💼 Experiencia Profesional y Proyectos</h2>
    <p>He tenido la oportunidad de colaborar en un semillero de desarrollo de software, donde fui parte de un equipo <strong>Fullstack</strong>. Este rol me permitió pulir mis habilidades en <strong>Frontend</strong> y <strong>Backend</strong>, además de aprender cómo cada pieza contribuye al éxito de un proyecto.</p>
  </div>

  <div class="bloque" data-aos="fade-up">
    <h2>🌱 Mis Aspiraciones y Valores</h2>
    <p>Para mí, el aprendizaje nunca termina. Actualmente, me esfuerzo por dominar áreas como <strong>DevOps</strong> y diseño <strong>UX/UI</strong>, y mi meta es seguir creciendo como profesional. También disfruto del trabajo en equipo y creo firmemente que compartir conocimientos es una de las mejores formas de mejorar.</p>
  </div>

  <div class="bloque" data-aos="fade-up">
    <h2>✨ ¡Gracias por leer!</h2>
    <p>Estoy emocionado por las nuevas oportunidades de aprendizaje y colaboración que se presenten. Si quieres saber más sobre mí o tienes algún proyecto interesante en el que pueda colaborar contáctame.</p>
  </div>
</section>
