<!-- <div class="timeline-container">
  <p-timeline [value]="events" align="right" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
      <span class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1">
        <i [class]="event.icon"></i>
      </span>
    </ng-template>

    <ng-template pTemplate="content" let-event>
      <p-card [header]="event.status">
        <p>{{ event.description }}</p>
        <p-button label="Read more" [text]="true"></p-button>
      </p-card>
    </ng-template>
  </p-timeline>
</div> -->
