/* CSS */
.sobre-mi {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.bloque {
  position: relative;
  background-color: rgba(68, 68, 68, 0.1); /* Fondo inicial semi-transparente */
  border-radius: 10px;
  backdrop-filter: blur(5px);
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Asegura que el ::before no se salga del bloque */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 200px; /* Puedes ajustar esta altura */
}

.imagen-container {
  flex-shrink: 0;
  width: 170px; /* Tamaño del contenedor mayor que la imagen para el borde */
  height: 170px;
  border-radius: 50%; /* Forma circular */
  background: linear-gradient(to top, rgba(42, 61, 75, 0.3), rgba(83, 182, 196, 0.3)); /* Degradado transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  float: left;
  margin-top: 10px;
}

.imagen {
  width: 150px; /* Tamaño de la imagen menor que el contenedor */
  height: 150px;
  border-radius: 50%; /* Imagen circular */
  object-fit: cover;
  shape-outside: circle(50%);
  shape-margin: 15px;
  transition: transform 0.6s ease, box-shadow 0.6s ease; /* Suaviza el hover */
}

.imagen:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar un efecto de elevación */
}



.bloque::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #212222 0%, #171818 100%);
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.5s ease; /* Duración de la transición del gradiente */
  border-radius: 10px;
  z-index: -1; /* Para situarlo detrás del contenido */
}

.bloque:hover::before {
  opacity: 1; /* Muestra el gradiente lentamente */
}

.bloque:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(46, 45, 45, 0.164);
}

.bloque h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #9797979a;
}

.bloque p {
  line-height: 1.6;
  color: #8f8f8f;  /* Color del texto */
}

.bloque p strong {
  color: #8dd0ff; /* Azul */ /* Destaca las palabras clave */
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #acaaaa57;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(92, 91, 91, 0.185);
  transition: background-color 0.1s ease, color 0.3s ease;
  z-index: 9999; 
}

.scroll-to-top:hover {
  background-color: #8dd0ff;
  color: #202020;
}

.scroll-to-top:focus {
  outline: none;
}
  

@media (max-width: 600px) {
  .bloque h2 {
    font-size: 1.3em;
  }

  .bloque {
    padding: 15px;
  }
}
