/* Mueve todo el contenedor del timeline hacia la derecha */
.timeline-container p-timeline {
  position: relative;
  margin-left: 0px; /* Ajusta el valor según lo que necesites */
}

/* Alineación de los eventos a la derecha */
.p-timeline-right {
  text-align: left; /* Asegura que los eventos estén alineados a la derecha */
}

/* Desplaza la línea vertical de los eventos */
.p-timeline-vertical {
  position: relative;
  margin-left: 50px; /* Ajusta el desplazamiento de la línea */
}

/* Mueve la línea de separación de los eventos */
.p-timeline-event-separator {
  position: absolute;
  left: 55% !important; /* Mueve la línea hacia la izquierda */
  top: 0;
  bottom: 0;
  width: 2px; /* Ajusta el grosor de la línea */
  background-color: #2c2c2c; /* Ajusta el color de la línea */
  z-index: 0;
}

/* Ajusta la posición de los conectores de los eventos */
.p-timeline-event-connector {
  left: 50% !important; /* Alinea el conector con la línea */
  width: 2px; /* Ajusta el grosor del conector */
  background-color: #494949; /* Ajusta el color del conector */
  z-index: 1; /* Asegura que el conector esté sobre la línea */
}

/* Desplaza los eventos hacia la derecha */
.p-timeline-event {
  margin-left: 350px; /* Desplaza los eventos hacia la derecha */
  width: 70%; /* Ajusta el ancho de los eventos */
  max-width: 75%;
  margin-top: 20px;
}
/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .timeline-container p-timeline {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
  }

  .p-timeline-event {
    width: 80%; /* Aumenta el tamaño de los eventos en pantallas pequeñas */
    margin-left: 10%; /* Centra los eventos en pantallas pequeñas */
    font-size: 1.2rem; /* Aumenta el tamaño del texto en los eventos */
    padding: 1.5rem; /* Añade padding para que los cuadros no se vean tan pequeños */
  }

  .p-timeline-event-connector {
    left: 5% !important; /* Mueve el conector hacia la izquierda en pantallas pequeñas */
  }

  /* Hacer que el contenido sea más grande */
  .p-card {
    font-size: 1.2rem; /* Aumenta el tamaño del texto en las tarjetas */
    padding: 1.5rem; /* Aumenta el padding de las tarjetas */
    width: 100%;
  }

  .p-button {
    font-size: 1.1rem; /* Aumenta el tamaño del texto de los botones */
    padding: 0.75rem 1.5rem; /* Aumenta el tamaño del botón */
  }
}
