/* CSS */
.sobre-mi {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.bloque {
  position: relative;
  background-color: rgba(68, 68, 68, 0.1); /* Fondo inicial semi-transparente */
  border-radius: 10px;
  backdrop-filter: blur(5px);
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Asegura que el ::before no se salga del bloque */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.imagen-container {
  flex-shrink: 0;  /* Evita que la imagen se reduzca */
}

.imagen {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;  /* Imagen circular */
  object-fit: cover;
  float: left;  /* Hace que la imagen se posicione a la izquierda */
  margin-right: 10px;  /* Espacio entre la imagen y el texto */
  shape-outside: circle(50%);  /* Forma circular para que el texto fluya alrededor */
  shape-margin: 20px;  /* Espacio adicional entre la imagen y el texto */
}

.bloque::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #212222 0%, #171818 100%);
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.5s ease; /* Duración de la transición del gradiente */
  border-radius: 10px;
  z-index: -1; /* Para situarlo detrás del contenido */
}

.bloque:hover::before {
  opacity: 1; /* Muestra el gradiente lentamente */
}

.bloque:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(46, 45, 45, 0.164);
}

.bloque h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #9797979a;
}

.bloque p {
  line-height: 1.6;
  color: #8f8f8f;  /* Color del texto */
}

.bloque p strong {
  color: #8dd0ff; /* Azul */ /* Destaca las palabras clave */
}

@media (max-width: 600px) {
  .bloque h2 {
    font-size: 1.3em;
  }

  .bloque {
    padding: 15px;
  }
}
