<div class="card-habilidades">
    <div class="circle-container">
        <!-- Círculo más grande -->
        <div class="orbit big-orbit" [ngStyle]="{ 'width': bigRadius + 'px', 'height': bigRadius + 'px' }">
            <!-- Círculo más pequeño dentro del grande -->
            <div class="orbit small-orbit" [ngStyle]="{ 'width': smallRadius + 'px', 'height': smallRadius + 'px' }">
                <!-- Imagen que rota sobre el borde del círculo -->
                <div class="rotating-wrapper">
                    <img class="rotating-image" src="assets/images/icons8-angular-48.png" alt="Imagen 1">
                </div>
                <div class="rotating-wrapperr">
                    <img class="static-image" src="assets/images/icons8-reaccionar-80.png" alt="Imagen 2">
                </div>
                <div class="rotating-wrapper-big">
                    <img class="rotating-image-big" src="assets/images/icons8-logotipo-de-primavera-48.png" alt="Imagen 3">
                </div>
                <div class="rotating-wrapper-bigg">
                    <img class="rotating-image-bigg" src="assets/images/icons8-javascript-48.png" alt="Imagen 4">
                </div>
            </div>
            <div class="circle-text">Habilidades</div>
        </div>
    </div>
</div>



<div class="card-habilidadess" data-aos="fade-up">
  <h2>Generales:</h2>

  <div class="container">
    <!-- Frontend -->
    <div class="category" data-aos="fade-right">
      <h3>Frontend</h3>
      <ul>
        <li *ngFor="let skill of frontend">
          <img [src]="skill.icono" [alt]="skill.nombre + ' Logo'"> {{ skill.nombre }}
        </li>
      </ul>
    </div>

    <!-- Backend -->
    <div class="category" data-aos="fade-left">
      <h3>Backend</h3>
      <ul>
        <li *ngFor="let skill of backend">
          <img [src]="skill.icono" [alt]="skill.nombre + ' Logo'"> {{ skill.nombre }}
        </li>
      </ul>
    </div>

    <!-- Bases de Datos -->
    <div class="category" data-aos="fade-right">
      <h3>Bases de Datos</h3>
      <ul>
        <li *ngFor="let skill of databases">
          <img [src]="skill.icono" [alt]="skill.nombre + ' Logo'"> {{ skill.nombre }}
        </li>
      </ul>
    </div>

    <!-- Otros -->
    <div class="category" data-aos="fade-left">
      <h3>Otros</h3>
      <ul>
        <li *ngFor="let skill of otros">
          <img [src]="skill.icono" [alt]="skill.nombre + ' Logo'"> {{ skill.nombre }}
        </li>
      </ul>
    </div>
  </div>
</div>
  <footer>
    <button class="scroll-to-top" (click)="scrollToTop()">
      &#8593; <!-- Flecha hacia arriba -->
    </button>
  </footer>