<div class="card-inicio">
  <div class="intro">
    <h1 class="animate__animated animate__fadeIn">Bienvenid&#64;!</h1>

    <p>
      ¡Hola! Soy <span class="name">Dayron Restrepo Perez</span>, un desarrollador Fullstack con una gran pasión por la tecnología y la innovación. Me encanta crear soluciones digitales que resuelvan problemas reales y mejoren la vida de las personas. A lo largo de mi carrera, he trabajado con diversas tecnologías y me esfuerzo por mantenerme actualizado en las últimas tendencias del mundo del desarrollo de software. Mi objetivo es siempre aportar valor a los proyectos en los que participo, aprendiendo y compartiendo conocimientos con otros profesionales del sector.
    </p>
    <br>
    <button (click)="navigateToProjects()" class="cta-button">Ver Proyectos</button> <p> </p>
    <button (click)="navigateToContact()" class="cta-button">Contáctame!</button>
  </div>

</div>

